.startingPage-container {
    background-image: url("../../public/openingPage.png");
    min-width: 1200px; /* Set a minimum width for the page container */
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: 'Nunito', sans-serif;

 
  }
  
  
  .start-button {
    position: fixed; /* Fix the position of the button */
    top: 70%; /* Set the vertical position of the button */
    left: 50%; /* Set the horizontal position of the button */
    transform: translate(-50%, -50%); /* Center the button */
  }
  @media (max-width: 768px) {
    .start-button {
      top: 50%;
    }
  }
  