.register-container {
  display: flex;
  flex-direction: row-reverse; /* Reverse the order of the elements */
  height: 90vh;
margin: 0px;}

.image-background {
  flex: 1;
  background-image: url('../public/RegisterPage.jpeg');
  background-size: cover;
  background-position: center;
}

.input-form-container {
  flex: 1;
  display: flex;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-form span {
  margin-bottom: 0.5rem;
}

.validation-message {
  color: #5754b7;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.register-button {
  background-color: #5754b7;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-button:hover {
  background-color: darkpurple;
}

.account-link {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.account-link a {
  color: #5754b7;
  text-decoration: none;
}

.account-link a:hover {
  text-decoration: underline;
}

.register-title-image {
  max-width: 70%;
  margin-bottom: 10px;
}
.input-field {
  width: 500px; /* Set a fixed width for input fields */
  display: inline-block;
border: 1px solid #ccc;
border-radius: 6px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-field:focus {
  border-color: #5754b7;
  box-shadow: 0 0 8px rgba(87, 84, 183, 0.3);
}
.validation-message {
  width: 500px; /* Set a fixed width for validation messages */
  word-wrap: break-word; /* Wrap long words to the next line */
}