.virtual-interview-page {
  width: 100%;
  height: 100%;
}

.interview-content {
  display: flex;
  overflow: hidden;
}

.interview-content .interview-column {
  flex: 1;
}

.virtual-interview-page .video-interviewer-container .video-js {
  width: 100%;
  height: 100%;
  object-fit: cover; /* this will ensure video covers the entire space */
  background-color: #F2F2F6;
}
.virtual-interview-page .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Change this to fit your content better */
  justify-content: center;
}

.virtual-interview-page .info-container .video-test {
  width: 100%;
  height: auto;
}

.virtual-interview-page .navbar-container {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;  /* Adjust this accordingly */
}

.question{
  align-items: center;
  overflow-wrap: break-word; 
  max-width: 100%;     
  margin: 30px;
  font-weight: bold;
  text-align: center;
}

.video-test-container{
  width: 65%;
  align-items: center;

}

.virtual-interview-page {
  width: 100%;
  min-height: 100vh; /* add this */
  display: flex; /* add this */
  flex-direction: column; /* add this */
  justify-content: space-between; /* add this */
}