.tablist-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.title-image {
  max-width: 40%; 
  margin-bottom: 40px;
  align-self:flex-start;
}

.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
  position: relative;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #ccc;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.arrow-button:hover {
  background-color: #e1e1e1;
  border-color: #bbb;
}

.arrow-button:first-child {
  left: 0;
}

.arrow-button:last-child {
  right: 0;
}

.tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s;
  width: calc(25% - 10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: visible;
}

.large-tab {
  transform: scale(1.1);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
