@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb-demi');

.template1 {
  color: #000000;
  max-width: 22cm;
  max-height: 29.7cm;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;
  word-break: break-all; 
  height:27.9cm ;
  word-break: normal;


}
.template1 .header-1 h1, 
.template1 .header-1 h4,
.template1 .work-experience-1 .experience h3,
.template1 .education-1 .education-item h3 {
  word-break: break-all; 
}


.template1 .header-1 h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  min-height: 2.5rem;
}

.template1 .header-1 h4 {
  font-size: 1.5rem;
}
.template1 .personal-details-1{
  align-items: center;
  align-content: center;

}
.template1 .personal-details-1 h3 ,
.template1 .skills-1 h3{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;


;}
.template1 .personal-details-1 h5 {
  margin-bottom: 0.5rem;
  align-items: center;
  align-content: center;

  font-size: 12px;
}

.template1 .summary-1 h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.template1 .summary-1 .summary {
  font-size: 0.9rem;
}


.template1 .work-experience-1 h2,
.template1 .education-1 h2,
.template1 .skills-1 h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.template1  .date{
  font-weight: bold;
color: #5b5b5c;
font-size: 0.9rem;
margin-bottom: 2px;

}
.template1 .education-1 .grade{
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 2px;
}
.template1  .description{
  font-size: 0.9rem;
}
.template1 .work-experience-1 .experience,
.template1 .education-1 .education-item {
  margin: 0px;
  border: 0cm;
  padding: 0;
}

.template1 .work-experience-1 .experience h3,
.template1 .education-1 .education-item h3 {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0px;
}
.template1  .profile-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
  
  margin-right: 20px;
  margin: 20px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}
section.left {
  float: left;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
  font-size: 12px;
  height:27.9cm ;
}

section.right {
  float: left;
  overflow-wrap: break-word;
  height:27.9cm ;
  padding-right: 10px;
  
}
.template1 .skills-1 {
  padding-bottom: 1rem;
}

.template1 .skills-1 ul {
  list-style-type: none;
  padding: 0;
}
.header-1 {
  text-align: center;
  padding: 1rem 0;
}
.template1-image-contanier{
  min-height: 150px;
  min-width: 150px;

}