.left-side {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  font-family: 'Nunito', sans-serif;
  max-width: 100%;

}

.left-side .nav-link {
  margin-right: 0%;
}
